.dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  color:#060f03;
  text-align: center;
}

.dashboard-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.dashboard-buttons button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.scan-button {
  background-color: #4CAF50;
  color: white;
}

.scan-button:hover {
  background-color: #45a049;
}

.logout-button {
  background-color: #f44336;
  color: white;
}

.logout-button:hover {
  background-color: #da190b;
}

